<div>
    <div class="logo">
        <img class="img" src="/public/images/logo.png"/>
        <p class="text">Survey Master</p>
    </div>
    <nav class="shadow-center">
        <a href="/"><i class="fas fa-home"></i>Survey Management</a>
    </nav>
</div>